<ion-view class="bookmarks-view">
    <ion-nav-title>
        <span class="transform">{{SurveyTitle}} Menu</span>
    </ion-nav-title>
    <ion-content scroll="true">
        <div class="list">
            <div class="item item-divider item-text-wrap">
                <div class="item-icon-left">
                    <i class="icon ion-ios-star assertive"></i>
                    Pick your favorite
                </div>
            </div>
        </div>
        <ion-scroll zooming="true" direction="y" style="max-height: 80%;">
            <div class="card">
                <div class="item item-text-wrap" data-ng-repeat="items in surveyFoods">
                    <ion-radio ng-model="s.choice" ng-value="items.surveyId" ng-change="onFoodSelect(s)" ng-disabled="isDisable">
                        <div><h2>{{items.surveyPidHeader}}</h2></div>
                        <div><h3>{{items.surveyPidDesc}}</h3></div>
                        <div data-ng-repeat="datafoodType in items.sFoodType">
                            <h4>{{datafoodType.sHeader}}</h4>
                            <h5>{{datafoodType.sCDesc}}</h5>
                        </div>
                    </ion-radio>
                </div>
            </div>
        </ion-scroll>
        <div class="item item-body bottom-content" ng-if="isActive=='0' && isAdmin=='2'">
            <button type="submit" class="button button-positive button-block" ng-click="doActive(s)">
                Acivate Review
            </button>
        </div>
        <div class="item item-body bottom-content" ng-if="isActive=='1'">
            <button type="submit" class="button button-positive button-block" ng-click="submitSurvey(s)">
                Please Review
            </button>
        </div>
    </ion-content>
</ion-view>