<ion-view class="forgot-password-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card forgot-password-container">
          <form name="forgot_password_form" class="" novalidate>
              <div class="list">
                  <label class="item" ng-if="x.UserExist !=null">
                      <span class="title" style="color:red;">{{x.UserExist}}</span>
                  </label>
                  <label class="item item-input">
                      <input type="email" placeholder="Email" name="user_email" ng-model="x.email" required>
                  </label>
                  <label class="item item-input">
                      <input type="number" maxlength="4" placeholder="Pin" name="user_pin" ng-model="x.pin" required>
                  </label>
                  <label class="item item-input item-select">
                      <div class="input-label"><i class="icon ion-help-circled"></i></div>
                      <select ng-model="x.selectedId" style="max-width:100% !important;" required>
                          <option ng-repeat="q in securityQ" value="{{q.id}}">{{q.question}}</option>
                      </select>
                  </label>
                  <label class="item item-input">
                      <input type="text" placeholder="Answer" name="user_answer" ng-model="x.answer" required>
                  </label>
                  <label class="item item-input">
                      <input type="password" placeholder="New Password" name="user_password" ng-model="x.password" required>
                  </label>
                  <label class="item item-input">
                      <input type="text" placeholder="Retype Password" name="user_repassword" ng-model="x.rePassword" confirm-pwd="user.password" required>
                  </label>
              </div>
            <div class="item item-body bottom-content">
                <button type="submit" class="button button-positive button-block" ng-click="recoverPassword(x)" ng-disabled="forgot_password_form.$invalid">
                    Recover it
                </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="log-in button button-small button-clear button-light" ui-sref="auth.login">
            Log In
          </a>
          <a class="sign-up button button-small button-clear button-light" ui-sref="auth.signup">
            Sign Up
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
