<ion-view class="walkthrough-view" cache-view="false">
  <ion-content scroll="false">
      <div class="top-content row" style="max-height:60%">
          <!--<div class="col col-center">
          <img ng-src="img/logo.png">
        </div>-->
      </div>
    <div class="bottom-content row-bottom">
      <div class="col col-center">
        <a class="login button button-block button-stable" ui-sref="auth.login">
          Log In
        </a>
        <a class="sign-up button button-block button-stable" ui-sref="auth.signup">
          Sign Up
        </a>
      </div>
    </div>
  </ion-content>
    <div class="tabs" style="background-color: #ddd;">
        <div class="title">@ <span style="color:#ff0000">UST</span><span style="color: #a7a5a5;"> Global</span> All rights reserved.</div>
    </div>
</ion-view>
