<ion-view class="category-feeds-view">
    <ion-nav-title>
        <span style="text-transform: capitalize;">{{categoryTitle}}</span>
    </ion-nav-title>
    <ion-content>

        <div class="list category-feeds" ng-if="categoryTitle == 'event-updates'">
            <a ng-repeat="source in category_sources | filter :{isActive:1}" class="item item-icon-right"
             ui-sref="app.event-details({categoryId: source.id,sourceId: (source.title | slugify)})">
                <div class="thumbnail-outer">
                    <pre-img ratio="_1_1" helper-class="">
                        <img class="thumbnail" ng-src="{{source.image}}" spinner-on-load>
                    </pre-img>
                </div>
                <div>
                    <span class="title">{{source.title}}</span>
                    <!--<p ng-if="source.time !=''" class="description">{{source.time}}</p>-->
                    <div ng-if="source.description !=''" class="item-text-wrap description">
                        <h5>{{source.description}}</h5>
                    </div>
                </div>
                <i class="icon ion-arrow-right-c"></i>
            </a>
        </div>



        <div class="list category-feeds" ng-if="categoryTitle != 'survey' 
             && categoryTitle != 'vote' && categoryTitle != 'events2016' && categoryTitle != 'attendance' && categoryTitle != 'event-updates'"  >
            <a ng-repeat="source in category_sources" class="item item-icon-right"
              ui-sref="app.feed-entries({categoryId: categoryId, sourceId: source.id, sourceTitle : (source.title | slugify)  })">
                <div class="thumbnail-outer">
                    <pre-img ratio="_1_1" helper-class="">
                        <img class="thumbnail" ng-src="{{source.image}}" spinner-on-load>
                    </pre-img>
                </div>
                <div>
                    <span class="title">{{source.title}}</span>
                    <!--<p ng-if="source.time !=''" class="description">{{source.time}}</p>-->
                    <div ng-if="source.description !=''" class="item-text-wrap description">
                        <h5>{{source.description}}</h5>
                    </div>
                </div>
                <i class="icon ion-arrow-right-c"></i>
            </a>
        </div>
        <div class="list category-feeds" ng-if="categoryTitle == 'events2016'">
            <!--<div ng-if="category_sources.length>0">
                <div class="item item-divider">
                    <div class="item-icon-left">
                        <i class="icon ion-ios-basketball"></i>
                        Sports Summary
                    </div>
                </div>
                <a ng-repeat="source in category_sources" class="item item-icon-right" ui-sref="app.event-details({categoryId: source.eventId,sourceId: (source.eventName | slugify)})">
                    <div class="thumbnail-outer">
                        <pre-img ratio="_1_1" helper-class="">
                            <img class="thumbnail" ng-src="{{source.image}}" spinner-on-load>
                        </pre-img>
                    </div>
                    <div>
                        <span class="title">{{source.eventName}}</span>
                        <p class="description">{{source.time}}</p>
                        <div class="item-text-wrap description">
                            <h5>{{source.description}}</h5>
                        </div>
                    </div>
                    <i class="icon ion-arrow-right-c"></i>
                </a>
            </div>-->
            <div ng-if="special_sources.length>0">
                <div class="item item-divider">
                    <div class="item-icon-left" style="padding-left: 10px;">
                        <i class="icon ion-speakerphone"></i>
                        UST 17th Foundation Day 2016
                    </div>
                </div>
                <a ng-repeat="source in special_sources" class="item item-icon-right" ui-sref="app.event-details({categoryId: source.eventId,sourceId: (source.eventName | slugify)})">
                    <div class="thumbnail-outer">
                        <pre-img ratio="_1_1" helper-class="">
                            <img class="thumbnail" ng-src="{{source.image}}" spinner-on-load>
                        </pre-img>
                    </div>
                    <div>
                        <span class="title">{{source.eventName}}</span>
                        <p ng-if="source.time !=''" class="description">{{source.time}}</p>
                        <div ng-if="source.description !=''" class="item-text-wrap description">
                            <h5>{{source.description}}</h5>
                        </div>
                    </div>
                    <i class="icon ion-arrow-right-c"></i>
                </a>
            </div>
            <div ng-if="other_sources.length>0">
                <div class="item item-divider">
                    <div class="item-icon-left">
                        <i class="icon ion-ios-pulse-strong"></i>
                        Special Attraction
                    </div>
                </div>
                <a ng-repeat="source in other_sources" class="item item-icon-right" ui-sref="app.event-details({categoryId: source.eventId,sourceId: (source.eventName | slugify)})">
                    <div class="thumbnail-outer">
                        <pre-img ratio="_1_1" helper-class="">
                            <img class="thumbnail" ng-src="{{source.image}}" spinner-on-load>
                        </pre-img>
                    </div>
                    <div>
                        <span class="title">{{source.eventName}}</span>
                        <p class="description" ng-if="source.time != ''">{{source.time}}</p>
                        <div  ng-if="source.description !=''" class="item-text-wrap description">
                            <h5>{{source.description}}</h5>
                        </div>
                    </div>
                    <i class="icon ion-arrow-right-c"></i>
                </a>
            </div>
        </div>
        <div class="list category-feeds" ng-if="categoryTitle == 'survey' || categoryTitle == 'attendance'">
            <a ng-repeat="source in category_sources" class="item item-icon-right" ui-sref="app.{{source.url}}({categoryId: categoryId,sourceId: (source.title | slugify)})">
                <div class="thumbnail-outer">
                    <pre-img ratio="_1_1" helper-class="">
                        <img class="thumbnail" ng-src="{{source.image}}" spinner-on-load>
                    </pre-img>
                </div>
                <div>
                    <span class="title">{{source.title}}</span>
                    <p class="description">{{source.description}}</p>
                </div>
                <i class="icon ion-arrow-right-c"></i>
            </a>
        </div>
        <div class="list category-feeds" ng-if="categoryTitle == 'vote'">
            <a ng-repeat="source in category_sources" class="item item-icon-right" ui-sref="app.vote-entries({categoryId: categoryId,sourceId: (source.title | slugify)})">
                <div class="thumbnail-outer">
                    <pre-img ratio="_1_1" helper-class="">
                        <img class="thumbnail" ng-src="{{source.image}}" spinner-on-load>
                    </pre-img>
                </div>
                <div>
                    <span class="title">{{source.title}}</span>
                    <p class="description">{{source.description}}</p>
                </div>
                <i class="icon ion-arrow-right-c"></i>
            </a>



        </div>
    </ion-content>
</ion-view>
