<ion-view class="enter-comments-view">
    <ion-nav-title>
        <span style="text-transform: capitalize;">HELLO</span>
        <!--<i class="icon ion-ios-plus" ng-click=""> ADD ITEMS</i>-->
    </ion-nav-title>
</ion-view>



<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Question Editor</h1>
       
    </ion-header-bar>
    <ion-content>
       <ion-list>
           <ion-item>
                   TEST
           </ion-item>
       </ion-list>
            <!--<div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Question</span>
           TEST2
                </label>
            </div>
            <div class="padding-horizontal">
                <button class="button button-full button-balanced">Save</button>
            </div>-->

    </ion-content>
   
</ion-modal-view>