<ion-view class="feeds-categories-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Vote For Employee</span>
    </ion-nav-title>
    <ion-content>
        <ion-list>
            <div class="list">
                <div style="display: -webkit-box;" ng-repeat="emp in Employees">
                    <span class="input-label col col-50" style="background-color:{{emp.empColor}} !important;color:white;">{{emp.empName}} </span>
                    <ion-radio ng-model="v.choice" ng-value="emp.empId" class="col col-50 item-radio" ng-disabled="isDisable" ng-change="doSaveVote(v);">{{v.choice==emp.empId?'Done':'Vote'}} </ion-radio>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>