<ion-view class="feeds-categories-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Vote By Users</span>
    </ion-nav-title>
    <ion-content>
        <ion-list>
            <div class="list">
                <div class="" ng-repeat="emp in Employees | filter :{isActive: '1'}"  >
                    <span class="col progress">{{emp.empName}} </span>
                    <!--<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{emp.totalVote}}" style="background-color:{{emp.empColor}} !important; width:{{emp.totalVote}};"
                         aria-valuemin="0" aria-valuemax="100" ng-if="emp.totalVote>0">
                    </div>-->
                    <div style="text-align: center; font-weight:bold">{{emp.totalVote}}</div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>