<ion-view class="feeds-categories-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Vote By Users</span>
    </ion-nav-title>
    <ion-content>
        <ion-list>
            <div class="list">
                <div class="" ng-repeat="emp in EmployeesData | orderByDesc:'empPercent':true">
                    <span class="col progress">{{emp.empName}} <span class="badge badge-assertive">{{emp.totalVote}}</span></span>
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{emp.empPercent | number: 2}}" style="background-color:{{emp.empColor}} !important;width:{{emp.empPercent | number: 2}}%;"
                         aria-valuemin="0" aria-valuemax="100" ng-if="emp.empPercent>0">{{emp.empPercent | number: 2}}%
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>